# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.NotBuilding.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Source\TestTest\NotBuilding\.idea\.idea.NotBuilding\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
